ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.todo-app {
  position: relative;
  box-sizing: border-box;
  margin: 10% auto;
  max-width: 60rem;
  border: 1px solid #d1d1d1;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);

  &::before {
    content: 'TODO-LIST';
    position: absolute;
    top: -1.5rem;
    font-size: 2rem;
    font-weight: 700;
    background: #fff;
    color: #f09311;
  }
}

input[type='text'] {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  font-size: 2rem;
  border-radius: 0.2rem;

  &:focus {
    outline: dashed #884e25;
  }
}

button,
a {
  background: #fff;
  font-size: 0.8rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.2rem;
  color: #cecece;
  cursor: pointer;
  padding: 0.5rem;
}

.todo-list {
  &__item {
    background: #fff;
    border-left: .5rem solid #fff;
    border-bottom: 1px solid #d1d1d1;
    padding: 1rem;
    display: flex;
    align-items: center;

    label {
      flex-grow: 1;
      font-size: 1.2rem;

      &.completed {
        text-decoration: line-through;
        color: #d1d1d1;
      }
    }
  }
}

.footer {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.filters {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  flex-grow: 1;
  justify-content: center;
}

.selected {
  color: #24c497;
  font-weight: 700;
}

.dragItem {
  opacity: 0.3;
}

.dragOver {
  border-left: .5rem solid #EACE8A;
}

@media only screen and (max-width: 600px) {
  .todo-app {
    width: calc(100% - 1rem);
    margin-top: 5rem;
  }

  input[type='text'] {
    font-size: 1.2rem;
  }
}